ul {
    margin-top: 25px;
    margin-left: 10px;
    list-style-type: none;
}
li {
    font-size: 25px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
    color: white;
    text-shadow: 2px 2px 3px #000000;
}
.numeroDaLista {
    background: rgba(51, 221, 142, 0.664);
    padding: 0px 10px;
    padding-right: 13px;
    text-align: center;
    border-radius: 50px;
    margin-right: 10px;
}
.div1 {
    display: grid;
    grid-template-columns: 92% 8%;
}
@media (min-width:320px) and (max-width:780px) {
    .div1 {
        grid-template-columns: 78% 22%;
    }
}